<div class="transit-modal-container donate-modal" id="donate-modal">
	<div class="transit-modal-wrapper">
		<a href="#" id="donate-close-btn">&times;</a>
		<div class="donate-modal-header">
			<h2 class="donate-title">Earth Day April 22</h2>
		</div>
		<div class="transit-modal-content">
			<div class="donate-content">
				<p>
					You’re probably getting a lot of Earth Day emails today,
					right? They’re urging you to choose more sustainable options
					and vote for the planet with your dollar.
				</p>
				<p>
					They’re not wrong. The products we buy matter. But you know
					what matters even more? Buying less.
				</p>
				<p>
					We’re charging an
					<strong>extra $1 for every menstrual cup</strong> we're
					selling and will
					<strong>match it with an extra $1</strong> from June.
				</p>
				<p>
					All contributions will go to
					<a
						href="https://www.every.org/climate.change.fund"
						target="_blank"
						>The Climate Change Fund
                    </a>, an organization dedicated to highly-impactful,
					evidence-based solutions to the triple challenge of climate
					change, air pollution and energy poverty.
				</p>
                <p>We think it’s a better way to celebrate Earth, together.</p>
			</div>
			<div class="transit-action-wrapper">
				<button class="btn btn-buy_donate" id="btn-buy_donate">
					Give back this Earth Day
				</button>
			</div>
		</div>
	</div>
</div>
