<div class="transit-modal-container" id="transit-modal">
    <div class="transit-modal-wrapper">
        <a href="#" id="transit-close-btn">&times;</a>
        <div class="transit-modal-header">
            <a href="http://www.transitprotect.com" target="_blank"><h2 class="transit-title">transit</h2></a>
            <p>Shipping protection</p>
        </div>
        <div class="transit-modal-content">
            <h3 class="modal-heading">How does it work?</h3>
            <div class="transit-options-wrapper">
                <div class="transit-option">
                    <div class="number"><span>1</span></div>
                    <div class="transit-option-content">
                        <h4 class="option-heading">Add transit to your order</h4>
                        <p>It's a one-time payment of only $0.95.</p>
                    </div>
                </div>
                <div class="transit-option">
                    <div class="number"><span>2</span></div>
                    <div class="transit-option-content">
                        <h4 class="option-heading">Get instant protection</h4>
                        <p>Protect your order from loss, damage or theft.</p>
                    </div>
                </div>
                <div class="transit-option">
                    <div class="number"><span>3</span></div>
                    <div class="transit-option-content">
                        <h4 class="option-heading">No hassle file a claim</h4>
                        <p>Refunds or reorders in just a click.</p>
                    </div>
                </div>
            </div>
            <div class="transit-action-wrapper">
                <button class="btn btn-buy_transit" id="btn-buy_transit">Add transit to order</button>
            </div>
        </div>
    </div>
</div>