<!-- /templates/collection.liquid -->
<div id="CollectionSection" data-section-id="{{ section.id }}" data-section-type="collection-template" data-grid-type="{{ section.settings.collection_products_grid }}">
  {% include 'collection-template-rearrangeable' %}
</div>

{% if section.settings.bg_color != blank %}
<style>
  #shopify-section-{{ section.id }} {
    background-color: {{ section.settings.bg_color }};
  }
</style>
{% endif %}


{% schema %}
{
  "name": "Collection pages",
  "max_blocks": 50,
  "settings": [
    {
      "type": "select",
      "id": "collection_products_grid",
      "label": "Grid style",
      "options": [
        {
          "value": "collage",
          "label": "Collage"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "collection_sort_enable",
      "label": "Enable collection sorting"
    },
    {
      "type": "checkbox",
      "id": "collection_tags_enable",
      "label": "Show collection tags"
    },
    {
      "type": "checkbox",
      "id": "product_vendor_enable",
      "label": "Show product vendor"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color"
    }
  ],
  "blocks" : [
  {
    "type": "collection_rearrangeable",
    "name": "Collections",
    "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Select a collection"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
    ]
  }
  ]
}
{% endschema %}
    