<header class="section-header text-center">
    <h1>{{ page.title }}</h1>
</header>

{% schema %}
{
	"name": "Page title",
    "class": "index__page_title-section",
    "presets": [
    {
      "name": "Page title",
      "category": "Text"
    }
  ]
}
{% endschema %}