<style>
    .index-video_testimonials-section {
        background-color: {{ section.settings.bg_color }};
    }
</style>

{% if section.blocks.size != 0 %}
<div class="video_testimonials-wrapper">
    <div class="grid-uniform">
        {% for block in section.blocks %}
        <div class="grid__item small--one-whole medium--one-half large--one-third">
            <div class="video-testimonial">
                <iframe width="420" height="345" src="{{ block.settings.video_url }}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
  
{% schema %}
{
    "name": "Video testimonials",
    "class": "index-video_testimonials-section",
    "max_blocks": 9,
    "settings": [
        {
            "type": "color",
            "id": "bg_color",
            "label": "Background Color"
        }
    ],
    "presets": [
        {
            "name": "Video testimonials",
            "category": "Testimonials"
        }
    ],
    "blocks": [
        {
            "type": "Video",
            "name": "Video testimonial",
            "settings": [
                {
                    "type": "text",
                    "id": "video_url",
                    "label": "Video URL",
                    "info": "Accepts Youtube or Vimeo URL"
                }
            ]
        }
    ]
}
{% endschema %}
  